body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background: #333;
  color: white;
  display: flex;
  padding: 50px;
  margin-bottom: 50px;
}

header h1 {
  margin: 0;
}

main {
  max-width: 80%;
  text-align: center;
  margin: auto;
}

input {
  width: 40%;
  padding: 10px;
}

span.validationError {
  display: block;
  color: #cc0000;
  padding: 25px;
}

button {
  background: white;
  border: 1px solid black;
  padding: 12px 18px;
}

button:hover {
  background: #f0f0f0;
}

#resultBox {
  margin: 25px;
}

span#isPrimeSpan {
  font-size: 24px;
  display: block;
  margin: 5px;
}

span#isPrimeSpan.isPrime:before {
  content: "🎉 ";
}

.hidden {
  display: none !important;
}
